* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#start-btn {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: none;
}

#game-container {
    display: none;
    width: 600px;
    height: 300px;
    background-color: aquamarine;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-color: beige;
    margin: 15px 5px;
}

#verify-container {
    display: none;
}

.input-container {
    display: flex;
}

.input-number {
    width: 40px;
    height: 30px;
    border: 0;
    background-color: beige;
    margin: 15px 5px;
}